<template>
  <div id="projects">
    <h1>Projects</h1>
    <p>Here are my projects, things I've developed just to learn about a certain topic or things I did just for fun</p>
        <div id="items" v-if="projects.length !== 0">
          <Card
            v-for="article in projects"
            :key="article.meta.name"
            :path="article.path"
            :title="article.meta.name"
            :image="article.meta.image"
            :summary="article.meta.summary"
            heading=""
            footer=""
          />
        </div>
        <p v-if="projects.length === 0">This is still a work in progress 🚧</p>
  </div>
</template>

<script setup lang="ts">
const projects = await queryCollection("projects").all();

useHead({
  title: 'Projects',
  meta: [{ name: 'Personal Projects', content: 'Some of the personal projects I developed' }]
})
</script>

<style lang="scss">
@use "sass:map";

@use "@styles/variables.scss" as *;

#items {
  display: flex;
  flex-wrap: wrap;
  justify-content: align-start;
  align-content: space-around;
}
</style>
