<template>
  <Error404 v-if="!article" />
  <ContentRenderer v-if="article" :value="article" />
</template>

<script setup lang="ts">
const props = defineProps(["collection", "path"]);

const article = await queryCollection(props.collection).path(props.path).first();

if (article) {
  useHead({
    title: article.title + " | DMaxter",
    meta: [{ name: article.title, content: article.meta.summary }]
  })
}
</script>

<style scoped lang="scss">
@use "@styles/variables.scss" as *;

h1 {
  margin-top: 15px;
  color: $primary;
  font-family: $font-sans;
  font-size: $title-size;
  font-weight: bolder;
  text-transform: capitalize;

  a {
    color: $primary
  }
}

h2 {
  margin-top: 5px;
  margin-left: 20px;
  color: $secondary;
  font-family: $font-sans;
  font-size: $subtitle-size;
  font-weight: bolder;
  text-transform: capitalize;

  a {
    color: $secondary
  }
}

h3 {
  margin-top: 5px;
  margin-left: 30px;
  color: $secondary;
  font-family: $font-sans;
  text-transform: capitalize;

  a {
    color: $secondary
  }
}

:deep(p) {
  text-indent: 20px;
  padding-left: 20px;
  line-height: 1.6;
}

ul {
  margin-left: 40px;
}

ul ::marker {
  color: $primary;
  font-size: $subtitle-size;
}

:deep(pre) {
  padding: 10px;
  border-radius: 25px;
}

:deep(pre),
:deep(code) {
  background-color: $background;
  white-space: pre-wrap;
}

:deep(code) {
  border-radius: 3px;
  color: $foreground;
  font-family: $font-mono;
}
</style>
