<template>
  <a :href="path">
    <div class="card">
      <h2>{{ title }}</h2>
      <div class="card-content">
        <img :src="image">
        <div class="right-side">
          <h3>{{ heading }}</h3>
          <p>{{ summary }}</p>
        </div>
        <b class="footer">{{ footer }}</b>
      </div>
    </div>
  </a>
</template>

<script setup lang="ts">
defineProps({
  path: {
    type: String,
    required: true
  },
  title: {
    type: String,
    required: true
  },
  image: {
    type: String,
    required: true
  },
  heading: {
    type: String,
    required: true
  },
  summary: {
    type: String,
    required: true
  },
  footer: {
    type: String,
    required: true
  }
})
</script>

<style scoped lang="scss">
@use "sass:map";

@use "@styles/variables.scss" as *;

a {
  .card {
    border: 1px map.get($theme, "gray5");
    border-radius: 15px;
    padding: 20px;
    box-shadow: 2px 2px 10px 0px map.get($theme, "gray3");
    margin: 10px;
    display: inline-block;
    min-height: 200px;
    height: max-content;
    width: clamp(200px, 35vw, 400px);
    transition: all 0.3s linear 0s;

    h2 {
      margin: 0px !important;
      color: $primary !important;
    }

    .card-content {
      display: flex;
      justify-content: align-start;
      margin-top: 10px;
      margin-bottom: 50px;
      min-height: 100px;
      height: max-content;
      position: relative;
      z-index: -1;

      .right-side {
        display: inline-block;
        margin-left: 10px;

        h3 {
          color: $secondary !important;
          margin: 0px !important;
        }
      }

      img {
        width: 70px;
        height: 70px;
        border: 1px $secondary solid;
        border-radius: 3px;
        display: inline-block;
        align-self: center;
      }

      .footer {
        position: absolute;
        bottom: -70px;
        left: 0px;
        color: $background;
      }
    }
  }

  .card:hover {
    background-color: $primary;

    h2 {
      color: $foreground !important;
    }

    .card-content {
      position: relative;
      z-index: 0;

      .right-side {
        h3 {
          color: $background !important;
        }

        p {
          color: $foreground;
        }
      }

      img {
        background-color: $foreground;
        border-color: map.get($theme, "gray6");
      }
    }
  }
}
</style>
