<template>
  <div class="contact" :style="style">
    <slot />
  </div>
</template>

<script setup lang="ts">
defineProps({
  style: {
    required: false,
  }
})
</script>

<style scoped lang="scss">
.contact {
  width: 40px;
  height: 40px;
  display: inline-block;
  margin: 15px;
}
</style>
