<template>
  <h1>Page not found</h1>
  <p>
    So much good content I have for you and yet you are trying to access something that doesn't exist...
    <br>
    <br>
    <br>
    <span style="font-size: 100pt;">🤔</span>
  </p>
  <br>
  <br>
  <p><a href="/">Let's go home</a></p>
</template>

<style scoped lang="scss">
@use "@styles/variables.scss" as *;

h1 {
  margin-top: 15px;
  color: $primary;
  font-family: $font-sans;
  font-size: $title-size;
  font-weight: bolder;
  text-transform: capitalize;
}

p {
  padding-left: 40px;
  line-height: 1.6;
}
</style>
