<template>
  <div id="container">
    <div id="icon" @click="open = !open">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
    <div id="menu" v-show="open" :style="{ position: 'fixed', left: 0, top: props.size }">
      <slot></slot>
    </div>
  </div>
</template>

<script setup lang="ts">
const props = defineProps(["size"]);

const open = ref(false);
</script>

<style scoped lang="scss">
@use "@styles/variables.scss" as *;

#container {
  height: 100%;

  #icon {
    height: 50%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    padding: 15px;

    .line {
      background-color: $foreground;
      height: 3px;
      width: 30px;
    }
  }

  #icon:hover {
    .line {
      background-color: $primary;
    }
  }

  #menu {
    background-color: $background;
    transition: linear 5s display;
  }
}
</style>
