<template>
  <div id="menu">
    <ul>
      <a href="/">
        <li class="option">Home</li>
      </a>
      <a href="/about-me">
        <li class="option">About me</li>
      </a>
      <a href="/projects">
        <li class="option">Projects</li>
      </a>
      <a href="/writeups">
        <li class="option">Writeups</li>
      </a>
    </ul>
  </div>
</template>

<style scoped lang="scss">
@use "sass:map";
@use "@styles/variables.scss" as *;

#menu {
  display: flex;
  margin: 0;
  padding: clamp(10px, 0.5vw, 50px) clamp(30px, 3vw, 60px) 0 clamp(30px, 1vw, 60px);
  height: clamp(200px, 10vw, 500px);
  align-items: flex-start;
  font-family: $font-sans;

  ul {
    width: 100%;
    list-style: none;
    padding: 0;

    a {
      text-decoration: none;

      li {
        line-height: 2;
      }
    }
  }

  .option {
    padding-bottom: 2px;
    border-bottom: 2px groove $foreground;
    color: map.get($theme, "true-white");
    text-align: center;
    border-radius: 1px;
    font-size: $content-size;
    transform-origin: 0px 0px;
    transform: matrix(1, -0.122785, 0.122785, 1, 0, 0);
    transition: all 0.3s ease-in-out;
  }

  .option:not(:first-child) {
    margin-top: 8px;
  }

  .option:hover {
    padding-bottom: 1px;
    border-bottom: 3px groove $primary;
    color: $primary;
    font-size: $content-size + 0.5pt;
    font-weight: bold;
  }
}
</style>
