<template>
  <img class="roundpicture" :src="src" :style="style">
</template>

<script setup lang="ts">
defineProps({
  src: {
    type: String,
    required: true
  },
  style: {
    required: false
  }
})
</script>

<style scoped lang="scss">
.roundpicture {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
</style>
