<template>
  <div id="sidebar">
    <a href="/">
      <div id="me">
        <div class="center">
          <RoundPicture :src="ProfilePic" />
        </div>
        <div class="center">
          <p>DMaxter</p>
          <p>{{ AGE }} clock cycles</p>
          <p>🇵🇹</p>
          <br>
          <p>DevOps &<br>CyberSecurity</p>
        </div>
      </div>
    </a>
    <Menu />
    <div id="social">
      <SocialDiscord />
      <SocialGitLab />
      <SocialLinkedIn />
      <SocialGitHub />
      <SocialEmail />
      <SocialHackTheBox />
    </div>
  </div>
</template>

<script setup lang="ts">
import ProfilePic from '@images/profile.jpg'

const AGE = new Date(new Date() - Date.parse('1999-12-11')).getFullYear() - 1970;
</script>

<style scoped lang="scss">
@use "@styles/variables.scss" as *;

#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: clamp(300px, 20vw, 400px);
  overflow: hidden;
  background-color: $background;
  color: $foreground;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;

  a {
    text-decoration: none;
    color: $foreground;

    .center {
      width: clamp(150px, 15vw, 200px);
      padding: clamp(10px, 0.1vw, 30px);

      p {
        margin: 0;
        line-height: 120%;
        font-family: $font-sans;
        font-size: clamp(15pt, 2vw, $subtitle-size);
        font-weight: bold;
      }

    }
  }


  #social {
    display: grid;
    width: 100%;
    justify-items: center;
    grid-template: 1fr 1fr / 1fr 1fr 1fr;
  }
}
</style>
