<template>
  <img class="squarepicture" :src="src" :style="style">
</template>

<script setup lang="ts">
defineProps({
  src: {
    type: String,
    required: true
  },
  style: {
    required: false
  }
})
</script>

<style scoped lang="scss">
.squarepicture {
  width: 100%;
  height: 100%;
}
</style>
