<template>
  <div id="topbar">
    <HamburgerMenu size="60px">
      <ul>
        <a href="/">
          <li class="option">Home</li>
        </a>
        <a href="/about-me">
          <li class="option">About me</li>
        </a>
        <a href="/projects">
          <li class="option">Projects</li>
        </a>
        <a href="/writeups">
          <li class="option">Writeups</li>
        </a>
      </ul>
    </HamburgerMenu>
    <a href="/">
      <div id="me">
        <span>DMaxter</span>
        <div id="picture">
          <RoundPicture :src="ProfilePic" />
        </div>
      </div>
    </a>
  </div>
</template>

<script setup lang="ts">
import ProfilePic from "@images/profile.jpg";
</script>

<style scoped lang="scss">
@use "@styles/variables.scss" as *;

#topbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  overflow: hidden;
  background-color: $background;
  color: $foreground;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  a {
    margin-right: 20px;
    text-decoration: none;
    color: $foreground;

    #me {
      display: flex;
      width: 100%;
      justify-content: flex-end;
      align-items: center;
      gap: 20px;

      span {
        font-family: $font-sans;
        font-weight: bolder;
      }

      #picture {
        height: 50px;
        width: 50px;
      }
    }
  }

  ul {
    display: flex;
    flex-flow: column wrap;
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
    justify-content: space-evenly;
    align-items: stretch;

    li {
      text-align: center;
      padding: 20px;
    }

    a {
      margin: 0 15px;
      padding: 0 30px;
      font-weight: bold;
      border-top: 2px solid $foreground;
    }

    a:hover {
      color: $primary;
      border-top: 2px solid $primary;
    }
  }
}
</style>
