<template>
  <div id="writeups">
    <h1>Writeups</h1>
    <p>Here are some of the writeups I have made for CTF challenges I solved (or almost solved 😛)</p>
    <div id="items" v-if="writeups.length !== 0">
      <Card v-for="article in writeups" :key="article.title" :path="article.path" :title="article.title"
        :image="article.meta.image" :heading="article.meta.ctf" :summary="article.meta.summary"
        :footer="formatDate(article.date)" />
    </div>
    <p v-if="writeups.length === 0">This is still a work in progress 🚧</p>
  </div>
</template>

<script setup lang="ts">
const writeups = await queryCollection("writeups").order("date", "DESC").all();

const formatDate = (date) => {
  date = new Date(date)

  let day = date.getDate()

  if (day < 10) {
    day = '0' + day
  }

  let month = date.getMonth() + 1

  if (month < 10) {
    month = '0' + month
  }

  return day + '/' + month + '/' + date.getFullYear()
}

useHead({
  title: 'Writeups',
  meta: [{ name: 'CTF Writeups', content: 'Writeups of challenges from CTFs I participated in' }]
})
</script>

<style lang="scss" scoped>
@use "sass:map";

@use "@styles/variables.scss" as *;

#items {
  display: flex;
  flex-flow: row wrap;
  justify-content: start;
  align-content: flex-start;
  align-items: center;
}
</style>
