<template>
  <slot />
  <footer>© 2020-{{YEAR}} Daniel Matos, All rights reserved</footer>
</template>

<script setup lang="ts">
const YEAR = new Date().getFullYear();
</script>

<style lang="scss">
@use "@styles/variables.scss" as *;

body {
  background: $background;

  footer {
    margin-top: 30px;
    text-align: center;
    color: $foreground;
    font-size: clamp(7pt, 12pt, 12pt);
  }
}
</style>
