<template>
  <div id="default">
    <div id="sidebar-container">
      <Sidebar />
    </div>
    <div id="topbar-container">
      <Topbar />
    </div>
    <main id="content">
      <slot />
      <footer>© 2020-{{ YEAR }} Daniel Matos, All rights reserved</footer>
    </main>
  </div>
</template>

<script setup lang="ts">
const YEAR = new Date().getFullYear();
</script>

<style lang="scss">
@use "@styles/variables.scss" as *;

$threshold: 1270px;

@media screen and (min-width: $threshold) {
  #content {
    margin: 20px 20px 20px clamp(320px, 21vw, 420px);
  }

  #sidebar-container {
    display: flex;
  }

  #topbar-container {
    display: none;
  }
}

@media screen and (max-width: $threshold) {
  #content {
    margin: 70px 20px 20px 20px;
  }

  #sidebar-container {
    display: none;
  }

  #topbar-container {
    display: flex;
  }
}

#content {
  padding-left: 10px;

  footer {
    color: $background;
    margin-top: 30px;
    text-align: center;
    font-size: clamp(7pt, 12pt, 12pt);
  }
}
</style>
