<template>
  <div>
    <a href="https://discord.com/users/384030545878843392" target="_blank">
      <ContactIcon :style="style">
        <Icon id="discord" />
      </ContactIcon>
    </a>
  </div>
</template>

<script setup lang="ts">
import Icon from "@images/social/discord.svg?component";

defineProps({
  style: {
    required: false,
  }
})
</script>

<style scoped lang="scss">
@use "sass:map";
@use "@styles/variables.scss" as *;

#discord,
#discord:hover {
  display: block;
  margin: auto;
}

#discord {
  fill: map.get($theme, "gray4");
  transition: fill 0.3s ease-in-out;
}

#discord:hover {
  fill: #5865f2;
}
</style>
