<template>
  <div>
    <a href="mailto:daniel_matos@outlook.pt" target="_blank">
      <ContactIcon :style="style">
        <Icon id="email" />
      </ContactIcon>
    </a>
  </div>
</template>

<script setup lang="ts">
import Icon from "@images/social/email.svg?component";

defineProps({
  style: {
    required: false,
  }
})
</script>

<style scoped lang="scss">
@use "sass:map";
@use "@styles/variables.scss" as *;

#email,
#email:hover {
  display: block;
  margin: auto;
}

#email {
  fill: map.get($theme, "gray4");
  transition: fill 0.3s ease-in-out;
}

#email:hover {
  fill: $primary;
}
</style>
