<template>
  <div>
    <a href="https://github.com/DMaxter" target="_blank">
      <ContactIcon :style="style">
        <Icon id="github" />
      </ContactIcon>
    </a>
  </div>
</template>

<script setup lang="ts">
import Icon from "@images/social/github.svg?component";

defineProps({
  style: {
    required: false,
  }
})
</script>

<style scoped lang="scss">
@use "sass:map";
@use "@styles/variables.scss" as *;

#github,
#github:hover {
  display: block;
  margin: auto;
}

#github {
  fill: map.get($theme, "gray4");
  transition: fill 0.3s ease-in-out;
}

#github:hover {
  fill: map.get($theme, "true-white");
}
</style>
