<template>
  <div>
    <a href="https://gitlab.com/DMaxter" target="_blank">
      <ContactIcon :style="style">
        <Icon id="gitlab" />
      </ContactIcon>
    </a>
  </div>
</template>

<script setup lang="ts">
import Icon from "@images/social/gitlab.svg?component";

defineProps({
  style: {
    required: false,
  }
})
</script>

<style scoped lang="scss">
@use "sass:map";
@use "@styles/variables.scss" as *;

:deep(#gitlab),
:deep(#gitlab:hover) {
  display: block;
  margin: auto;
}

:deep(#gitlab) {
  fill: map.get($theme, "gray4");
}

:deep(#gitlab-g) {
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}

:deep(#gitlab-g:hover) {
  opacity: 1;
}
</style>
