<template>
  <div>
    <a href="https://app.hackthebox.com/users/366179" target="_blank">
      <ContactIcon :style="style">
        <Icon id="hackthebox" />
      </ContactIcon>
    </a>
  </div>
</template>

<script setup lang="ts">
import Icon from "@images/social/hackthebox.svg?component";

defineProps({
  style: {
    required: false,
  }
})
</script>

<style scoped lang="scss">
@use "sass:map";
@use "@styles/variables.scss" as *;

#hackthebox,
#hackthebox:hover {
  display: block;
  margin: auto;
}

#hackthebox {
  fill: map.get($theme, "gray4");
  transition: fill 0.3s ease-in-out;
}

#hackthebox:hover {
  fill: #9fef00;
}
</style>
