<template>
  <div>
    <a href="https://www.linkedin.com/in/daniel-m-matos" target="_blank">
      <ContactIcon :style="style">
        <Icon id="linkedin" />
      </ContactIcon>
    </a>
  </div>
</template>

<script setup lang="ts">
import Icon from "@images/social/linkedin.svg?component";

defineProps({
  style: {
    required: false,
  }
})
</script>

<style scoped lang="scss">
@use "sass:map";
@use "@styles/variables.scss" as *;

#linkedin,
#linkedin:hover {
  display: block;
  margin: auto;
}

#linkedin {
  fill: map.get($theme, "gray4");
  transition: fill 0.3s ease-in-out;
}

#linkedin:hover {
  fill: #0e75a8;
}
</style>
