<template>
  <div>
    <div id="work">
      <h1>Work Experience</h1>
      <div class="flex item-container">
        <div v-for="job in content.work" :key="job.location">
          <h2>{{ job.location }}</h2>
          <div class="flex">
            <SquarePicture class="image" :src="job.image" />
            <div class="text-section">
              <div v-for="role in job.roles" :key="role.name">
                <h3 class="no-margin">{{ role.name }}</h3>
                <h4>{{ role.timeframe }}</h4>
                <p v-html="role.description"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="education">
      <h1>Education</h1>
      <div class="flex item-container">
        <div v-for="school in content.education" :key="school.school">
          <h2>{{ school.school }}</h2>
          <div class="flex">
            <SquarePicture class="image" :src="school.image" />
            <div class="text-section flex item-container">
              <div v-for="degree in school.degrees" :key="degree.name">
                <h3 class="no-margin">{{ degree.name }}</h3>
                <h4>{{ degree.timeframe }}</h4>
                <p v-html="degree.description"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="hobbies">
      <h1>Hobbies</h1>
      <div class="flex item-container">
        <div v-for="hobby in content.hobbies" :key="hobby.name">
          <h2>{{ hobby.name }}</h2>
          <div class="flex">
            <SquarePicture class="image" :src="hobby.image" />
            <div class="text-section flex item-container">
              <h3 class="no-margin" v-if="hobby.heading!!">{{ hobby.heading }}</h3>
              <h4 v-if="hobby.timeframe!!">{{ hobby.timeframe }}</h4>
              <p v-html="hobby.description"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
const content = (await queryCollection("resume").first()).meta;

useHead({
  title: 'DMaxter',
  meta: [{ name: 'DMaxter', content: 'Nothing to see here 👀' }]
})
</script>

<style scoped lang="scss">
@use "@styles/variables.scss" as *;

#main-title {
  font-size: 30pt !important;
}

h4 {
  margin: 0;
  padding-left: 10px;
}

.no-margin {
  margin: 0;
}

.inline-block {
  display: inline-block;
}

.text-section {
  margin-left: 5px;
}

.flex {
  display: flex;
}

.item-container {
  flex-direction: column;
}

.image {
  align-self: center;
  height: clamp(100px, 10vw, 200px);
  width: clamp(100px, 10vw, 200px);
}

p {
  text-indent: 20px;
  padding-left: 20px;
}
</style>
