@use "sass:map";

/*
 * Colorscheme definition
 */

$theme: (
    "black":          #1c1b19,
    "red":            #ef2f27,
    "green":          #519f50,
    "yellow":         #fbb829,
    "blue":           #2c78bf,
    "magenta":        #e02c6d,
    "cyan":           #0aaeb3,
    "white":          #baa67f,
    "orange":         #FF5F00,
    "bright-black":   #918175,
    "bright-red":     #f76341,
    "bright-green":   #98bc37,
    "bright-yellow":  #fed06e,
    "bright-blue":    #68a8e4,
    "bright-magenta": #ff5c8f,
    "bright-cyan":    #2be4d0,
    "bright-white":   #fce8c3,
    "bright-orange":  #ff8700,
    "hard-black":     #121212,
    "gray1":          #262626,
    "gray2":          #303030,
    "gray3":          #3a3a3a,
    "gray4":          #444444,
    "gray5":          #4e4e4e,
    "gray6":          #585858,
    "true-white":     #ffffff,
);

$primary:   map.get($theme, "blue");
$secondary: map.get($theme, "bright-blue");

$background:      map.get($theme, "hard-black");
$foreground:      map.get($theme, "true-white");
$soft-background: map.get($theme, "black");

:root {
    --foreground: #{$foreground};
}

/*
 * Fonts
 */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

$font-sans: "Inter", sans-serif;
$font-mono: "Roboto Mono", monospace;

$title-size:    20pt;
$subtitle-size: 18pt;
$content-size:  15pt;

/*
 * Set defaults
 */
body {
    margin: 0;
    font-family: $font-sans;
    color: $soft-background;
    background-color: $foreground;
    box-sizing: border-box;
}

a,a:visited {
    text-decoration: underline;
    color: map.get($theme, "blue");
}

a:hover {
    color: map.get($theme, "gray1");
}

.center {
    margin: auto;
    text-align: center;
}
